[submodule "DestinyEngine/vendor/spdlog"]
	path = DestinyEngine/vendor/spdlog
	url = https://github.com/ItsSunnyMonster/spdlog
[submodule "DestinyEngine/vendor/imgui"]
	path = DestinyEngine/vendor/imgui
	url = https://github.com/ItsSunnyMonster/imgui.git
	branch = docking
[submodule "DestinyEngine/vendor/glm"]
	path = DestinyEngine/vendor/glm
	url = https://github.com/ItsSunnyMonster/glm.git
[submodule "DestinyEngine/vendor/utfcpp"]
	path = DestinyEngine/vendor/utfcpp
	url = https://github.com/ItsSunnyMonster/utfcpp.git
